{% extends "../base.html" %}
{% block title %}Home {% endblock title %}
<body>
    {% block content %}
        <h3>Welcome To The Home Page. </h3>
    {% if request.user.is_authenticated %}
        <p>Namaste, {{request.user.username}}</p>
        
    {% else %}
    <p>Hi, Anonymous user</p>
    {% endif %}
    <form action="{% url 'follow' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username">
    <button type="submit">Follow</button>
</form>
    {% endblock content %}

</body>
</html>